# Ignore virtual environments
airsim-env/
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/project files
.vscode/
.idea/
*.iml

# Ignore system files
.DS_Store
Thumbs.db
